# Node
node_modules/
.pnpm-store/
npm-debug.log*

# Astro
dist/
.astro/

# Env
.env
.env.local
.env.production

# Editors
.DS_Store
.vscode/
.idea/

# Asset staging
src/assets/**/staging/

# Build artifacts
*.log
